<header>
    
    <title>Mision</title>
</header>

      <div class="InfoVision">
        <div>
            <h1>Mision de la empresa</h1><br>
            <ul class="DecoVision">
            <li>Nuestra misión es desarrollar y producir micro ingredientes para la industria de piensos, ayudando a nuestros clientes a criar a sus animales de una manera rentable y sostenible, respetando la salud animal.
            </li><br>
            <li>Alimentar a clientes y consumidores exigentes con productos saludables, sabrosos y de alta calidad.

            </li><br>
            <li>Producir y comercializar productos de excelente calidad relacionados con los agroalimentos, buscando el liderazgo del mercado en las regiones en las que opera, con los ojos puestos en la plena satisfacción de los clientes, empleados y accionistas.</li><br>
            <li>Seremos el fabricante líder de productos con bajo contenido de ácido al ser el proveedor más confiable de productos y soluciones que deleitarán a nuestros clientes y alimentarán el futuro de manera segura.
            </li><br>
            <li>Nuestra misión es producir y desarrollar productos alimenticios con toda calidad para garantizar la satisfacción de todos los consumidores.</li><br>
            <li>Nuestra misión es nuestra razón de existir. Define el propósito y el papel de nuestra empresa en el mundo y está equilibrado entre tres ideas centrales. Alimentar al mundo encarna el conocimiento, el empoderamiento económico y las nuevas ideas innovadoras. Proteger el planeta representa nuestro compromiso con la reducción de emisiones y prácticas agrícolas sostenibles.</li>
        </ul>
        </div>
        <div>
          <img class="ImageMision">
      </div>
      </div><br>
      <footer>
        <form action="" class="Data">
            <div>
                <h1>Contactanos</h1>
                <p>Nombre: <br><input type="text"></p><br>
                <p>Su correo electronico: <br><input type="email"></p><br>
                <p>Como lo podemos apoyar: <br><textarea name="" id="" cols="60" rows="10"></textarea>
                <input type="submit" value="Enviar Informacion">
                <input type="reset" value="Borrar datos">
            </div>
        </form>
      </footer>

