<header>
    
    <title>Vision</title>
</header>

     

      <div class="InfoVision">
        <div>
            <h1>Vision de la empresa</h1><br>
            <ul class="DecoVision">
            <li>Nuestra visión es ser el principal fabricante y proveedor de soluciones innovadoras de ingredientes alimentarios que contribuyan a un suministro de alimentos asequible para el mundo.</li><br>
            <li>Ser la referencia mundial en maíz libre de transgénicos e ingredientes saludables.
            </li><br>
            <li>Posicionarnos estratégicamente entre los comercializadores y distribuidores mundiales de productos alimenticios y agrícolas más admirados del mundo y satisfacer las diversas necesidades del consumidor todos los días mediante la comercialización y venta de alimentos de alta calidad constante.
            </li><br>
            <li>Seremos el fabricante líder de productos con bajo contenido de ácido al ser el proveedor más confiable de productos y soluciones que deleitarán a nuestros clientes y alimentarán el futuro de manera segura.
            </li><br>
            <li>Aspiramos a transformar la industria alimentaria en un negocio socialmente responsable, saludable, transparente y sostenible.
            </li><br>
            <li>Garantizar un futuro sostenible. Una comunidad colaboradora que supera las barreras culturales, ambientales y económicas para crear soluciones que conduzcan a un mundo libre de hambre y un planeta respetado.
            </li>
        </ul>
        </div>
        <div>
            <img class="ImageVision">
        </div>
      </div><br>
      <footer>
        <form action="" class="Data">
            <div>
                <h1>Contactanos</h1>
                <p>Nombre: <br><input type="text"></p><br>
                <p>Su correo electronico: <br><input type="email"></p><br>
                <p>Como lo podemos apoyar: <br><textarea name="" id="" cols="60" rows="10"></textarea>
                <input type="submit" value="Enviar Informacion">
                <input type="reset" value="Borrar datos">
            </div>
        </form>
      </footer>

