<!DOCTYPE html>
<html lang="es">
  <header class="header">
    <div class="container">
        <div class="logo">
            <h1>E-TIENDA LA DESPENSA</h1>
        </div>
        <nav class="menu">
          <a routerLink="/home" routerLinkActive="active">Home</a>
          <a routerLink="/mision" routerLinkActive="active">Misión</a>
          <a routerLink="/vision" routerLinkActive="active">Visión</a>
        </nav>
    </div>
  </header>
<body>
  
</body>
</html>
<router-outlet></router-outlet>
