* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.MainTitle {
    font-family: 'Arial', sans-serif; 
    font-size: 3rem; 
    color: #fff; 
    text-align: center;
    font-weight: 600; 
    letter-spacing: 2px; 
    text-transform: uppercase; 
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3), 0 0 25px rgba(255, 255, 255, 0.5); 
    margin-top: 50px;
    transition: transform 0.3s ease-in-out; 
}

.MainTitle:hover {
    transform: scale(1.1); 
    color: #3498db; 
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5), 0 0 30px rgba(255, 255, 255, 0.7); 
}

.logo {
    color: #fff; 
    font-weight: 600; 
    font-size: 50px;
    text-align: center;
    background-color: #182958; 
    padding: 20px 0;
    width: 100vw;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);  
}

.container .menu {
    width: 100vw;
    line-height: 70px;
    background-color: #173FAB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.container .menu a {
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease;
    font-size: 16px;
    border-radius: 5px;
}

.container .menu a:hover {
    background-color: #0056b3;
    border-bottom: 2px solid transparent;
    transform: scale(1.05);
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchTerm {
    width: 100%;
    border: 3px solid #00b4cc;
    border-right: none;
    padding: 10px;
    height: 40px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #333;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.searchTerm:focus {
    border-color: #00b4cc;
    color: #00b4cc;
}

.searchButton {
    width: 50px;
    height: 40px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 18px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.searchButton:hover {
    background-color: #0056b3;
    transform: scale(1.1);
}

.searchButton:active {
    background-color: #004080;
}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    margin-right: 10px;
}

a:hover, .searchButton:hover {
    transform: scale(1.05);
}



  